In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_excel("Height-Weight.xlsx")

In [3]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
8550  Female  60.483946  110.565497
8551  Female  63.423372  129.921671
8552  Female  65.584057  155.942671
8553  Female  67.429971  151.678405
8554  Female  60.921791  131.253738

[8555 rows x 3 columns]

In [4]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

In [5]:
df.describe()

            Height       Weight
count  8555.000000  8555.000000
mean     66.809925   165.632735
std       3.851454    32.043922
min      54.616858    65.780000
25%      63.957684   139.876803
50%      66.985923   168.521567
75%      69.604427   190.666305
max      80.450000   269.989698

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   object
 1   Height  8555 non-null   float64
 2   Weight  8555 non-null   float64
dtypes: float64(2), object(1)
memory usage: 200.6+ KB

In [7]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [9]:
df.corr(numeric_only=True)

          Height    Weight
Height  1.000000  0.922975
Weight  0.922975  1.000000

# Label Encoder

In [11]:
df1.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [12]:
from pandas.core.dtypes.common import is_numeric_dtype
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in df1.columns:
    if is_numeric_dtype(df1[col]) == False:
        df1[col] = le.fit_transform(df1[col])

In [13]:
df1

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

[8555 rows x 3 columns]

# Scaling

In [14]:
from sklearn.preprocessing import MinMaxScaler
mn = MinMaxScaler()

In [15]:
df1['Height'] = mn.fit_transform(df1[["Height"]])

In [16]:
df1

      Gender    Height      Weight
0          1  0.744399  241.893563
1          1  0.548328  162.310473
2          1  0.754583  212.740856
3          1  0.662487  220.042470
4          1  0.590905  206.349801
...      ...       ...         ...
8550       0  0.227115  110.565497
8551       0  0.340900  129.921671
8552       0  0.424540  155.942671
8553       0  0.495995  151.678405
8554       0  0.244064  131.253738

[8555 rows x 3 columns]