In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel("game.xlsx")

In [3]:
df

   Days Outlook Temprature  Routine Wear Jacket?
0     1   Sunny       Cold   Indoor           No
1     2  Cloudy       Cold   Indoor          Yes
2     3  Cloudy       Warm  Outdoor           No
3     4   Sunny       Cold  Outdoor          Yes
4     5  Cloudy       Cold  Outdoor          Yes
5     6   Sunny       Warm  Outdoor           No
6     7  Cloudy       Warm   Indoor           No
7     8   Sunny       Warm   Indoor           No

In [4]:
df.drop('Days', axis=1, inplace=True)

In [5]:
df

  Outlook Temprature  Routine Wear Jacket?
0   Sunny       Cold   Indoor           No
1  Cloudy       Cold   Indoor          Yes
2  Cloudy       Warm  Outdoor           No
3   Sunny       Cold  Outdoor          Yes
4  Cloudy       Cold  Outdoor          Yes
5   Sunny       Warm  Outdoor           No
6  Cloudy       Warm   Indoor           No
7   Sunny       Warm   Indoor           No

In [6]:
x = df.drop('Wear Jacket?', axis=1)

In [7]:
x

  Outlook Temprature  Routine
0   Sunny       Cold   Indoor
1  Cloudy       Cold   Indoor
2  Cloudy       Warm  Outdoor
3   Sunny       Cold  Outdoor
4  Cloudy       Cold  Outdoor
5   Sunny       Warm  Outdoor
6  Cloudy       Warm   Indoor
7   Sunny       Warm   Indoor

In [8]:
y = df[['Wear Jacket?']]

In [9]:
y

  Wear Jacket?
0           No
1          Yes
2           No
3          Yes
4          Yes
5           No
6           No
7           No

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [12]:
from pandas.core.dtypes.common import is_numeric_dtype

In [13]:
for col in x.columns:
    if is_numeric_dtype(x[col]) == False:
        x[col] = le.fit_transform(x[col])

In [14]:
x

   Outlook  Temprature  Routine
0        1           0        0
1        0           0        0
2        0           1        1
3        1           0        1
4        0           0        1
5        1           1        1
6        0           1        0
7        1           1        0

In [15]:
clf = DecisionTreeClassifier()

In [16]:
clf.fit(x,y)

DecisionTreeClassifier()

In [17]:
clf.predict([[0,0,0]])

array(['Yes'], dtype=object)

In [18]:
clf.predict([[0,0,1]])

array(['Yes'], dtype=object)

In [19]:
clf.predict([[1,1,0]])

array(['No'], dtype=object)

In [20]:
clf.predict([[1,1,0]])

array(['No'], dtype=object)

In [21]:
clf.predict([[1,1,1]])

array(['No'], dtype=object)